extends ../layout/base

block include

block content
  .container.mx-auto(class="px-4 xl:px-0")
    .py-6.text-gray-900.transition.duration-500.ease-in-out(class='dark:text-gray-500')
      .w-full.mx-auto
        include ../layout/flash
        .flex.flex-col.items-center.space-y-8
          img.w-48.bg-white-rock.rounded-full(src=`${session.user.customerImg.url}`)
          .flex.flex-col.items-center
            h1.text-4xl.tracking-wide.text-gray-600.font-semibold #{session.user.displayName}
            h3 @#{session.user.login}
        .flex.flex-col.space-y-4.mt-12
          a.w-full.px-5.py-4.rounded-md.bg-white.shadow.justify-between.items-center.transition.duration-200.ease-in-out(class='hover:shadow-lg' href="/web/account/edit")
            .text-xl.text-black.flex.flex-row.items-center
              i.w-12.fas.fa-user-cog
              h1 Modifier mon compte
          a.w-full.px-5.py-4.rounded-md.bg-sandy-brown-400.shadow.justify-between.items-center.transition.duration-200.ease-in-out(class='hover:shadow-lg' href="/web/auth/logout")
            .text-xl.flex.flex-row.items-center
              i.w-12.fas.fa-sign-out-alt
              h1 Déconnexion
block footer
