extends ../layout/base_without_menu

block content
	// Container
	.bg-defineLogin
		.container.mx-auto.min-h-screen
			.flex.justify-center.px-6
				div(class='xl:w-2/4 lg:w-6/12')
					include ../layout/flash
			.flex.justify-center.px-6.my-6
				// Row
				.w-full.flex.flex-col(class='xl:w-2/4 lg:w-6/12')
					.w-full.p-5.rounded-lg.bg-white
						section.mt-4.text-center
							h3.text-2xl Mot de passe oublié
						section.my-6.px-10
							form(action="/web/auth/forgotpassword",method="post")
								.mb-4
									label.block.mb-2.text-sm.font-bold.text-gray-700(for='login')
										| Email
									input#email.w-full.px-3.py-2.text-sm.leading-tight.text-gray-700.border.rounded.shadow.appearance-none(class='focus:outline-none focus:shadow-outline', type='email',name="email")
									p#email-msg.text-xs.italic.text-red-500.hidden Champ requis
								.text-center
									button.w-full.text-white.bg-night-shadz-500.border-0.py-2.px-6.rounded.text-lg.transition-colors.duration-200.ease-in-out.text-center(class='focus:outline-none hover:bg-night-shadz-600', type='submit')
										| Réinitialiser
					section.my-10.text-center.flex.flex-col.space-y-2
						a.inline-block.text-sm.text-white.align-baseline(class='hover:text-night-shadz-100' href='/web/auth/login')
							p.font-semibold Revenir à la connexion
						a.inline-block.text-sm.text-white.align-baseline(class='hover:text-night-shadz-100' href='/web/auth/register')
							p Vous n'avez pas de compte ? 
								span.font-semibold Inscrivez-vous !

	script.
		let form  = document.getElementsByTagName('form')[0];
		let email = document.getElementById('email');
		let emailMsg = document.getElementById('email-msg');
		form.addEventListener("submit", function (event) {
			// Chaque fois que l'utilisateur tente d'envoyer les données
			// on vérifie que le champ email est valide.
			if(email.value === null || email.value.trim() === ""){
				email.classList.add("border-red-500");
				emailMsg.classList.remove("hidden");
				event.preventDefault();
			}else{
				email.classList.remove("border-red-500");
				emailMsg.classList.add("hidden");
			}
		}, false);

