// Modal
.modal-member.opacity-0.pointer-events-none.fixed.w-full.h-full.top-0.left-0.flex.items-center.justify-center.transition.duration-200.ease-in-out
  .modal-overlay-member.absolute.w-full.h-full.bg-gray-900.opacity-75
  .modal-container.bg-gray-100.mx-auto.rounded.shadow-lg.z-50.overflow-y-auto(class='w-11/12 md:max-w-md')
    .modal-close-member.absolute.top-0.right-0.cursor-pointer.flex.flex-col.items-center.mt-4.mr-4.text-white.text-sm.z-50
      svg.fill-current.text-white(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18')
        path(d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z')
      span.text-sm (Esc)
    // Add margin if you want to see some of the overlay behind the modal
    .modal-content.py-4.text-left.px-6
      // Title
      .flex.justify-between.items-center.pb-3
        p#modalTitle.text-2xl.uppercase.font-semibold.tracking-wide Ajouter un membre
        .modal-close-member.cursor-pointer.z-50
          svg.fill-current.text-black(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18')
            path(d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z')
      // Body
      form#groupForm.px-8.pt-6.pb-8.rounded(action=`/web/group/${group.id}/member`,method="post")
        div
          label.block.mb-2.text-sm.font-bold.text-gray-700(for='friend')
            | Utilisateur
          .relative
            select#friend.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.text-gray-700.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(class='focus:border-eminence-500 focus:ring-2 focus:ring-eminence-200' name="friend")
                if customer != null
                  each friend,index in customer.userFriends
                        option(value=`${friend.id}`) #{friend.login}
      //Action
      .flex.justify-start.pt-2.space-x-2
        button.text-white.bg-eminence-500.shadow.border-0.py-2.px-6.rounded.text-lg.transition.duration-200.ease-in-out.text-center(class='hover:shadow-lg',type="submit",form='groupForm') 
          span.font-bold Ajouter
        button.modal-close-member.text-white.bg-sandy-brown.shadow.border-0.py-2.px-6.rounded.text-lg.transition.duration-200.ease-in-out.text-center(class='hover:shadow-lg') Fermer
script.
  const overlayMember = document.querySelector('.modal-overlay-member')
  overlayMember.addEventListener('click', toggleMemberModal)
    
  var closemodalMember = document.querySelectorAll('.modal-close-member')
  for (var i = 0; i < closemodalMember.length; i++) {
    closemodalMember[i].addEventListener('click', toggleMemberModal)
  }
  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
      isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
      toggleMemberModal()
    }
  };
  function toggleMemberModal () {
    const body = document.querySelector('body')
    const modalMember = document.querySelector('.modal-member')
    modalMember.classList.toggle('opacity-0')
    modalMember.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }